@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: "Mulish", sans-serif;
  width: 1170px;
  margin: 0 auto;
}

/* Header section start */
header {
  margin-top: 52px;
}
.nav-container {
  min-width: 50%;
  display: flex;
  gap: 16px;
  align-items: center;
}

nav {
  display: flex;
  justify-content: space-between;
}

nav > ul {
  min-width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 44px;
}

.nav-title {
  color: #131318;
  font-size: 2.25rem;
  font-weight: 800;
  text-transform: capitalize;
}

span {
  color: #ff5400;
}

.three-line {
  display: none;
}

nav li > a {
  color: #424247;
  font-size: 18px;
  font-weight: 400;
}

.active {
  color: #ff5400;
  font-weight: 700;
}

/* banner section */
.banner {
  margin-top: 50px;
  border-radius: 16px;
  background: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url("../Images/Group\ 13\ \(1\)\ \(1\).png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  border-radius: 16px;
}

.banner-title {
  padding: 106px 287px 0 287px;
  color: #fff;
  font-size: 4rem;
  font-weight: 800;
  margin-bottom: 24px;
}

.banner-description {
  color: #fff;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
  padding: 0 247px;
  margin-bottom: 64px;
}

.btn-group {
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
  margin: 0 100px;
  margin-bottom: 106px;
  padding: 16px;
  display: flex;
  justify-content: space-between;
}

.btn {
  color: rgba(19, 19, 24, 0.5);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  padding: 16px 50px 16px 16px;
  border-radius: 8px;
  background: #fff;
  display: inline-flex;
  /* width: 184px; */
  cursor: pointer;
  border: 0;
  gap: 74px;
}

.select {
  gap: 35px;
}

.find {
  width: 174px;
  background-color: #ff5400;
  color: #fff;
  gap: 8px;
  text-align: center;
  align-items: center;
}

/* popular tour section */
.popular-tour-section {
  display: flex;
  margin-top: 100px;
  gap: 53px;
  text-align-last: left;
}

.tour-title {
  color: #131318;
  margin-left: -10;
  font-size: 2.5rem;
  font-weight: 800;
}

.tour-description {
  margin-left: -10;
  color: rgba(19, 19, 24, 0.7);
  font: size 1rem;
  margin-top: 24px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 24px;
}

.more-description li {
  color: rgba(19, 19, 24, 0.7);
  font-size: 1rem;
  font-weight: 400;
  gap: 16px;
  line-height: 26px;
  margin-left: 20px;
}

.more-tour-description {
  margin-top: 24px;
  color: #5a5a5d;
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 46px;
}

.btn-primary {
  margin-left: -10;
  border-radius: 8px;
  background: #ff5400;
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: 800;
  padding: 14px 35px;
  border: 0;
  cursor: pointer;
}

/* destination section */

.destination-section {
  margin-top: 100px;
}

.destination-title {
  color: #131318;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 800;
}

.destination-description {
  color: rgba(19, 19, 24, 0.7);
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 48px;
  width: 643px;
}

.row {
  display: flex;
  gap: 24px;
  margin-bottom: 24px;
}

.image-gallery {
  position: relative;
  text-align: center;
}

figcaption {
  position: absolute;
  color: #fff;
  text-align: center;
  font-size: 1.75rem;
  font-weight: 800;
}

.maldives {
  top: 140px;
  left: 220px;
}

.indonesia {
  top: 140px;
  right: 220px;
}

.srilanka {
  top: 440px;
  left: 130px;
}

.north-america {
  top: 440px;
  right: 430px;
}

.kashmir {
  top: 440px;
  right: 85px;
}

.ban {
  top: 770px;
  left: 155px;
}

.monkeyban {
  top: 770px;
  right: 250px;
}

/* services */
.service {
  margin-top: 76px;
}

.service-title {
  color: #131318;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 800;
  margin-bottom: 24px;
}

.service-description {
  color: rgba(19, 19, 24, 0.7);
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
  width: 643px;
  margin: 0 auto;
}

.service-card {
  margin-top: 48px;
  /* display: grid;
  grid-template-columns: repeat(2, 1fr); */
  display: flex;
  gap: 24px;
  justify-content: center;
}

.card-logo {
  padding: 32px 0 0 32px;
}

.card-title {
  color: #131318;
  font-size: 1.5rem;
  font-weight: 800;
  padding-left: 32px;
  padding: 0 32px;
  margin-top: 32px;
}

.card-description {
  color: #5a5a5d;
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
  padding-left: 32px;
  padding-right: 55px;
  margin-right: 16px;
  padding-bottom: 32px;
}

.card-1 {
  border-radius: 16px;
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
}

.card-2 {
  border-radius: 16px;
  border: 1px solid rgba(41, 206, 246, 0.2);
  background: rgba(41, 206, 246, 0.05);
}

.card-3 {
  border-radius: 16px;
  border: 1px solid rgba(233, 68, 68, 0.2);
  background: rgba(233, 68, 68, 0.05);
  width: 55%;
  margin: 0 auto;
  margin-top: 24px;
}

.place {
  margin-top: 100px;
  display: flex;
  gap: 24px;
}

.place-title {
  font-size: 2.5rem;
  color: #131318;
  font-weight: 800;
  line-height: 60px;
}

.place-description {
  margin-top: 24px;
  color: #5a5a5d;
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
}

.place-list {
  margin-top: 24px;
  margin-bottom: 32px;
  color: #131318;
  font-size: 1rem;
  font-weight: 700;
  line-height: 26px;
  margin-left: 20px;
}

.place-image {
  background-image: url("../Images/Group\ 40089.png");
  height: 442px;
  background-repeat: no-repeat;
  width: 100%;
  background-size: contain;
  position: relative;
}

.place-image-caption {
  width: 276px;
  text-align: center;
  position: absolute;
  left: 25%;
  top: 45%;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 36px;
}

/* newsletter section */
.newsletter-section {
  margin-top: 100px;
  justify-content: space-between;
  display: flex;
  gap: 24px;
}

.newsletter {
  border-radius: 16px;
  border: 1px solid #ff5400;
  width: 474px;
  height: 422px;
}

.newsletter-title {
  color: #131318;
  font-size: 24px;
  font-weight: 800;
  margin-left: 40px;
  margin-top: 40px;
}

.newsletter-description {
  color: #5a5a5d;
  font-weight: 400;
  line-height: 26px;
  margin-left: 40px;
  margin-top: 16px;
  width: 350px;
  margin-bottom: 24px;
}

.hr-1 {
  width: 393px;
  height: 1px;
  margin: 0 auto;
  background: rgba(19, 19, 24, 0.1);
  margin-bottom: 24px;
}

input {
  display: block;
}

input[type="text"],
input[type="email"] {
  width: 393px;
  height: 52px;
  border-radius: 8px;
  background: rgba(19, 19, 24, 0.05);
  margin: 0 auto;
  border: 0;
  margin-bottom: 16px;
  padding: 16px 251px 16px 20px;
}

input[type="submit"] {
  text-align: center;
  width: 393px;
  height: 52px;
  border-radius: 8px;
  background: #ff5400;
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  margin: 0 auto;
  border: 0;
  margin-bottom: 16px;
  cursor: pointer;
}

.discount-card {
  width: 324px;
  height: 120px;
  transform: rotate(-19.628deg);
  flex-shrink: 0;
  border-radius: 16px;
  background: #ff5400;
  color: #fff;
  text-align: center;
  align-items: center;
  margin-top: 20px;
  position: absolute;
  bottom: 52px;
  left: 340px;
}

.discount-card > p {
  font-size: 1.5rem;
  font-weight: 800;
  margin-top: 20px;
  padding-top: 20px;
}

.discount-card > h2 {
  font-size: 32px;
  font-weight: 800;
}

.travel-discount {
  position: relative;
}

/* footer section */
.footer-element {
  width: 100%;
  display: flex;
  gap: 16px;
  justify-content: center;
  padding-top: 110px;
}

.footer-description {
  color: #5a5a5d;
  font-weight: 400;
  line-height: 26px;
  width: 769px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 32px;
}

.social-icons ul {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 50px;
}

.social-icons ul > li {
  list-style-type: none;
  color: #131318;
}

.social-icons a {
  text-decoration: none;
  list-style-type: none;
  color: #131318;
  font-size: 24px;
  margin-bottom: 50px;
}

.hr-2 {
  background: rgba(19, 19, 24, 0.1);
  margin-bottom: 50px;
}

.reserved {
  text-align: center;
  color: #131318;
  font-family: Inter;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 110px;
}

/* campaign section */
.campaign {
  background-image: url("../Images/10000000.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  border-radius: 16px;
  margin-top: 100px;
}

.campaign h1 {
  color: #fff;
  font-size: 3rem;
  text-transform: uppercase;
  text-align: center;
  padding-top: 180px;
  font-weight: 800;
}

/* responsive media query */

@media screen and (max-width: 600px) {
  .body {
    max-width: 500px;
    margin: 0 auto;
    border-left: 1px solid rgb(230, 0, 0);
    border-right: 1px solid #131318;
  }
  nav {
    /* flex-direction: column; */
    width: 100%;
    align-items: center;
  }

  .three-line {
    display: block;
  }

  nav ul {
    flex-direction: column;
    margin-top: 20px;
    display: none;
  }

  .three-line i {
    font-size: 24px;
    stroke-width: 1.5px;
    stroke: #131318;
  }

  .nav-container {
    justify-content: center;
  }

  /* banner section */
  .banner {
    background-size: 79vh 79vh;
    padding: 0 20px;
    height: 600px;
    border-radius: 16px;
  }

  .btn-group {
    flex-direction: column;
    gap: 16px;
    margin: 0 24px;
  }

  .btn {
    /* flex-direction: column; */
    width: 100%;
    gap: 60px;
  }

  .btn {
    gap: 0px;
  }

  .fa-angle-down {
    margin-left: 210px;
  }

  .find {
    align-items: center;
    justify-content: center;
  }

  .fa-magnifying-glass {
    margin-right: 10;
    font-size: 24px;
  }

  .banner-title {
    font-size: 1.5rem;
    padding: 0;
    text-align: center;
    padding-top: 32px;
  }

  .banner-description {
    padding: 8px 16px 0 16px;
    margin-bottom: 32px;
  }

  /* popular tour section */
  .popular-tour-section {
    flex-direction: column;
    padding: 0 20px;
  }

  .popular-tour-content {
    margin-left: -20px;
  }

  .popular-tour-image img {
    width: 497px;
    margin-left: -19px;
  }

  /* destination section */
  .row {
    flex-direction: column;
  }

  .row img {
    height: 40vh;
  }

  .destination-description {
    width: 408px;
    margin-top: 8px;
  }

  .maldivs {
    top: 131px;
    left: 191px;
  }

  .indonesia {
    top: 462px;
    right: 186px;
  }

  .srilanka {
    top: 787px;
    left: 185px;
  }

  .north-america {
    top: 1108px;
    right: 160px;
  }

  .kashmir {
    top: 1433px;
    right: 199px;
  }

  .ban {
    top: 1753px;
    left: 167px;
  }

  .monkeyban {
    top: 2082px;
    right: 172px;
  }

  /* services-section */
  .service-card {
    display: flex;
    flex-direction: column;
  }
  .service-description {
    width: 435px;
  }

  .card-3 {
    width: 100%;
  }

  /* simple place section */
  .place {
    flex-direction: column;
  }

  .place-image-caption {
    top: 30%;
    left: 22%;
  }
  /* newsletter section */
  .newsletter-section {
    flex-direction: column;
  }

  .travel-discount img {
    width: 100%;
  }

  .discount-card {
    bottom: 53px;
    left: 154px;
  }

  .newsletter {
    width: 499px;
  }

  .footer-element {
    width: 100%;
  }

  .footer-description {
    width: 489px;
  }
}
