@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: "Mulish", sans-serif;
  width: 1170px;
  margin: 0 auto;
}

/* Header section start */
header {
  margin-top: 52px;
}
.nav-container {
  min-width: 50%;
  display: flex;
  gap: 16px;
  align-items: center;
}

nav {
  display: flex;
  justify-content: space-between;
}

nav > ul {
  min-width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 44px;
}

.nav-title {
  color: #131318;
  font-size: 2.25rem;
  font-weight: 800;
  text-transform: capitalize;
}

span {
  color: #ff5400;
}

.three-line {
  display: none;
}

nav li > a {
  color: #424247;
  font-size: 18px;
  font-weight: 400;
}

.active {
  color: #ff5400;
  font-weight: 700;
}

/* banner section */
.banner {
  margin-top: 50px;
  border-radius: 16px;
  background: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url("../Images/Group\ 13\ \(1\)\ \(1\).png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  border-radius: 16px;
}

.banner-title {
  padding: 106px 287px 0 287px;
  color: #fff;
  font-size: 4rem;
  font-weight: 800;
  margin-bottom: 24px;
}

.banner-description {
  color: #fff;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
  padding: 0 247px;
  margin-bottom: 64px;
}

.btn-group {
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
  margin: 0 100px;
  margin-bottom: 106px;
  padding: 16px;
  display: flex;
  justify-content: space-between;
}

.btn {
  color: rgba(19, 19, 24, 0.5);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  padding: 16px 50px 16px 16px;
  border-radius: 8px;
  background: #fff;
  display: inline-flex;
  /* width: 184px; */
  cursor: pointer;
  border: 0;
  gap: 74px;
}

.select {
  gap: 35px;
}

.find {
  width: 174px;
  background-color: #ff5400;
  color: #fff;
  gap: 8px;
  text-align: center;
  align-items: center;
}

/* popular tour section */
.popular-tour-section {
  display: flex;
  margin-top: 100px;
  gap: 53px;
  text-align-last: left;
}

.tour-title {
  color: #131318;
  margin-left: -10;
  font-size: 2.5rem;
  font-weight: 800;
}

.tour-description {
  margin-left: -10;
  color: rgba(19, 19, 24, 0.7);
  font: size 1rem;
  margin-top: 24px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 24px;
}

.more-description li {
  color: rgba(19, 19, 24, 0.7);
  font-size: 1rem;
  font-weight: 400;
  gap: 16px;
  line-height: 26px;
  margin-left: 20px;
}

.more-tour-description {
  margin-top: 24px;
  color: #5a5a5d;
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 46px;
}

.btn-primary {
  margin-left: -10;
  border-radius: 8px;
  background: #ff5400;
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: 800;
  padding: 14px 35px;
  border: 0;
  cursor: pointer;
}

/* destination section */

.destination-section {
  margin-top: 100px;
}

.destination-title {
  color: #131318;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 800;
}

.destination-description {
  color: rgba(19, 19, 24, 0.7);
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 48px;
  width: 643px;
}

.row {
  display: flex;
  gap: 24px;
  margin-bottom: 24px;
}

/* responsive media query */

@media screen and (max-width: 600px) {
  .body {
    max-width: 500px;
    margin: 0 auto;
    border-left: 1px solid rgb(230, 0, 0);
    border-right: 1px solid #131318;
  }
  nav {
    /* flex-direction: column; */
    width: 100%;
    align-items: center;
  }

  .three-line {
    display: block;
  }

  nav ul {
    flex-direction: column;
    margin-top: 20px;
    display: none;
  }

  .three-line i {
    font-size: 24px;
    stroke-width: 1.5px;
    stroke: #131318;
  }

  .nav-container {
    justify-content: center;
  }

  /* banner section */
  .banner {
    background-size: 79vh 79vh;
    padding: 0 20px;
    height: 600px;
    border-radius: 16px;
  }

  .btn-group {
    flex-direction: column;
    gap: 16px;
    margin: 0 24px;
  }

  .btn {
    /* flex-direction: column; */
    width: 100%;
    gap: 60px;
  }

  .btn {
    gap: 0px;
  }

  .fa-angle-down {
    margin-left: 210px;
  }

  .find {
    align-items: center;
    justify-content: center;
  }

  .fa-magnifying-glass {
    margin-right: 10;
    font-size: 24px;
  }

  .banner-title {
    font-size: 1.5rem;
    padding: 0;
    text-align: center;
    padding-top: 32px;
  }

  .banner-description {
    padding: 8px 16px 0 16px;
    margin-bottom: 32px;
  }

  /* popular tour section */
  .popular-tour-section {
    flex-direction: column;
    padding: 0 20px;
  }

  .popular-tour-content {
    margin-left: -20px;
  }

  .popular-tour-image img {
    max-width: 470px;
    margin-left: -8px;
  }
}
